/* canvas {
  display: inline !important;
  margin: 20px 20px;
}
@media (min-width: 700px) {
  canvas {
    width: 57vmin !important;
    height: 50vmin !important;
  }
}
@media (max-width: 699px) {
  canvas {
    width: 85vmin !important;
    height: 75vmin !important;
  }
} */
#svm-html {
  min-width: 700px;
}
.choose-method {
  font-size: 15px;
  margin-left: 10%;
  margin-top: 20px;
  margin-bottom: 10px;
}
.choose-method select {
  min-width: 160px;
  margin-left: 15px;
  margin-right: 10px;
}
#manual-table {
  width: 100%;
}
#manual-table tr th,
#manual-table tr td {
  text-align: center;
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;
}
.manual-table-textarea {
  width: 100%;
  height: 50vh;
}
.header-text {
  padding: 20px;
  color: white;
  background-color: rgb(2, 70, 138);
}
.header-text2 {
  padding-top: 20px;
  color: white;
  background-color: rgb(25, 150, 100);
}
.about-section1 {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: rgb(0, 124, 249);
  color: white;
}
.about-section2 {
  background-color: rgb(50, 10, 150);
  color: white;
  padding-bottom: 50px;
}
.code-body {
  margin-left: 20px;
}
.header {
  border-bottom: 1px solid "light-grey";
}
.main-font {
  font-family: "Montserrat", sans-serif !important;
}
#quotes-header {
  background-color: rgba(0, 0, 0, 0);
}
.line-container {
  width: 95vw;
  position: absolute;
  display: block;
  left: 0px;
  /* position: initial; */
}
.horizontal-line {
  margin-left: 11%;
  width: 78%;
  height: 2px;
  border-bottom: 2px solid lightcoral;
}
.quotes-section {
  padding-top: 5vh;
  padding-bottom: 5vh;
}
#correct-padding {
  margin-left: 0px;
  margin-right: 0px;
}
.content {
  margin-left: 10%;
}
.response-button {
  margin-left: 20px;
  background-color: white;
  border: 2px solid #f08080;
  border-radius: 5px;
  min-width: 100px;
}
.example-code-style {
  font-weight: bold;
  /* color: white;
  background-color: #1b0d42; */
  padding: 10px;
}
#example-code-section div {
  opacity: 1;
  transition: opacity 1s, transform 1s;
}
.small-padding {
  padding-top: 20px;
}
#example-nav-bar {
  padding: 15px;
  /* text-align: center; */
  font-size: 20px;
}
#example-nav-bar span {
  cursor: pointer;
  transition: color 1s;
}
#example-nav-bar span:hover {
  color: lightcoral;
  cursor: pointer;
}
.custom-hide {
  opacity: 0;
  transform: translateX(2000px);
}
#current-example {
  transition: transform 0.4s, opacity 0.4s;
}
.link-color {
  color: #b70076;
  font-weight: bold;
}
