<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <script src="https://unpkg.com/react@15/dist/react.min.js"></script>
    <script src="https://unpkg.com/react-dom@15/dist/react-dom.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.24.0/babel.js"></script>
  </head>
  <body style="margin:0px">
    <div id="root"></div>
    <script type="text/babel">
      const mainColor = "#E8C1C5";
      const color2 = "#011638";
      const styles = {
        AppBody: {
          backgroundColor: mainColor,
          // minHeight: "100vh",
          padding: "5vh"
        },
        MainBody: {
          backgroundColor: mainColor,
          minHeight: "90vh",
          border: "3px solid " + color2
        },
        lineStyle: {
          borderLeft: "4px solid " + color2,
          height: "10vh",
          // position: "absolute",
          // left: "50%",
          marginLeft: "calc(50% - 2px)"
        },
        service: {
          textAlign: "center"
        }
      };
      const descriptions = { svm: "SVM Visualzier" };
      function Service(props) {
        return (
          <div style={styles.service}>
            <h4>{props.description}</h4>
          </div>
        );
      }
      function Line() {
        return (
          <div>
            <div style={styles.lineStyle} />
          </div>
        );
      }
      class Services extends React.Component {
        render() {
          return (
            <div>
              <Line />
              <Service description={descriptions.svm} />
            </div>
          );
        }
      }
      class Main extends React.Component {
        state = {};
        render() {
          return (
            <div style={styles.MainBody}>
              <Services />
            </div>
          );
        }
      }
      class App extends React.Component {
        state = {};
        render() {
          return (
            <div style={styles.AppBody}>
              <Main />
            </div>
          );
        }
      }
      ReactDOM.render(<App />, document.getElementById("root"));
    </script>
  </body>
</html>
