<!DOCTYPE html>
<html>
  {% block head %}
  <head>
    <meta charset="UTF-8" />
    <script src="https://unpkg.com/react@15/dist/react.min.js"></script>
    <script src="https://unpkg.com/react-dom@15/dist/react-dom.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.24.0/babel.js"></script>
    {{
      JSGlue.include()
    }}
    <title>{% block title %} Home {% endblock %}</title>
    <script>
      Flask.url_for("index");
    </script>
  </head>
  {% endblock %} {% block main %}
  <body style="margin:0px">
    <div id="root"></div>
    <script type="text/babel">
      const mainColor = "white"; //"#E8C1C5";
      const color2 = "#011638";
      const styles = {
        AppBody: {
          backgroundColor: mainColor,
          // minHeight: "100vh",
          padding: "5vh"
        },
        MainBody: {
          backgroundColor: mainColor,
          minHeight: "90vh",
          border: "3px solid " + color2
        },
        lineStyle: {
          borderLeft: "4px solid " + color2,
          height: "10vh",
          // position: "absolute",
          // left: "50%",
          marginLeft: "calc(50% - 2px)"
        },
        service: {
          textAlign: "center"
        },
        imageStyle: {
          display: "block",
          width: "50%",
          height: "auto",
          marginLeft: "auto",
          marginRight: "auto",
          border: "3px solid " + color2
        },
        description: {
          marginLeft: "25%",
          marginRight: "25%"
        },
        image: {
          width: "100%"
        }
      };
      const descriptions = {
        svm: {
          title: "SVM Visualzier",
          description:
            "A visualizer for SVM prediction space. Uses sklearn with user " +
            "input to show a 2D or 3D mapping of the selected kernels prediction.",
          src: "/static/svmvisualizer.png",
          href: '{{ url_for("svm_visualizer") }}'
        },
        quotes: {
          title: "Quotes REST API",
          description:
            "REST API returns JSON data of quotes with author and soruce",
          src: "/static/Get_Quotes.png",
          href: "{{ url_for('get_quotes') }}"
        }
      };
      function Service(props) {
        return (
          <div style={styles.service}>
            <h3>{descriptions[props.selection].title}</h3>
            <a
              href={descriptions[props.selection].href}
              style={styles.imageStyle}
            >
              <img
                src={descriptions[props.selection].src}
                style={styles.image}
              />
            </a>
            <p style={styles.description}>
              {descriptions[props.selection].description}
            </p>
          </div>
        );
      }
      function Line() {
        return (
          <div>
            <div style={styles.lineStyle} />
          </div>
        );
      }
      class Services extends React.Component {
        render() {
          return (
            <div>
              <Line />
              <Service selection={"svm"} />
              <Line />
              <Service selection={"quotes"} />
              <Line />
            </div>
          );
        }
      }
      class Main extends React.Component {
        state = {};
        render() {
          return (
            <div style={styles.MainBody}>
              <Services />
            </div>
          );
        }
      }
      class App extends React.Component {
        state = {};
        render() {
          return (
            <div style={styles.AppBody}>
              <Main />
            </div>
          );
        }
      }
      ReactDOM.render(<App />, document.getElementById("root"));
    </script>
  </body>
  {% endblock %}
</html>
