<!DOCTYPE html>
<html id='svm-html'lang="en">
  {% block head %}
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='styles.css') }}"
    />

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script><script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
    <!-- Latest compiled and minified plotly.js JavaScript -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

    <!-- OR use a specific plotly.js release (e.g. version 1.5.0) -->
    <script src="https://cdn.plot.ly/plotly-1.5.0.min.js"></script>

    <script type=text/javascript>
        $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
      </script>
      {{
        JSGlue.include()
      }}
    <title>{% block title %} SVM Visualizer {% endblock %}</title>
    <script>
      Flask.url_for("svm_visualizer");
    </script>
  </head>
  {% endblock %}
  {% block main %}
  <body>
    <div class='container-fluid'>
      <div class="row header-text">
        <div class="col">
          <h2>2D/3D Support Vector Machine Visualizer</h2>
          <button id='info-button' class="run-button info-button">What does this program do?</button>
          <p>All methods use scikit-learn GridSearchCV() with a range of parameters to find best results.</p>
          <input value="Github"type="button" class='run-button gitbutton' onclick="window.location.href='https://github.com/jzohdi/svmVisualizer/blob/master/svm.py';">
          <input value="API" type="button" class="run-button gitbutton" id="api-button">
        </div>
      </div>
    </div>
    <div class="container">
      <section class="row header-text2">
        <div class="col">
          <h2 >Instructions</h2>
          <ol class="svm-instructions-list">
            <ul>Choose data - Sample Data is loaded by default, and manual data can be entered below</ul>
            <ul>Click run to view the data plot</ul>
            <ul>Choose SVM method from the drop down list</ul>
            <ul>Click run to view results in a new tab</ul>
          </ol>
        </section>      
      <div class="row">
        <div class='col-xs-12 col-sm-6'>
          <div class='choose-method'>
            <h4>Data to use:</h4>  
            <select id='select-data' style="margin-bottom: 10px;">
              <option>Sample Data</option>
              <option>Manual Data</option>
            </select>
            <button class="run-button" onClick='runData()'>Run</button>
            <p id='manual-data-error'></p>
          </div>
        </div>
        <div class='col-xs-12 col-sm-6'>
          <div class='choose-method'>
            <h4>Choose Method :</h4>
            <select id="select-method" style="margin-bottom: 10px;">
              <option value="Linear">Linear Kernel</option>
              <option value="Polynomial">Polynomial Kernel</option>
              <option value="RBF">RBF Kernel</option>
              <option value="Log Regression">Logistic Regression</option>
              <option value="KNN">K Nearest Neighbors</option>
              <option value="Tree">Decision Tree</option>
              <option value="Forest">Random Forest</option>
            </select>
            <button class="run-button" onClick='runMethod("myChart")'>Run</button>
          </div>
        </div>
      </div>
        <div class="row">
          <!-- <canvas id="myChart" width="200" height="200"></canvas> -->
          <div id='myChart'></div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class='col-xs-12'>
          <h3>Manul Data: </h3>
            <p>( comma separated or paste from excel )</p>
          <table id='manual-table'>
            <tr>
              <th> X, Y, Z (optional), Label (Classification) </th>
            </tr>
          </table>
          <textarea id='manual-data' class='manual-table-textarea'>1, 3, 1
2, 2, 1
2, 1, 1
3, 4, 1
5, 6, 0
4, 5, 0
7, 5, 0
6, 4, 0</textarea>
      </div> 
    </div>
    <div class="row">
      <div class='col-xs-12'>
        <h3>Example Input: </h3>
        <textarea class='manual-table-textarea'>1, 3, 2, no&#013;2, 2, 3, no&#013;2, 1, 1, no&#013;3, 4, 3, no
5, 6, 3, yes&#013;4, 5, 4, yes&#013;7, 5, 3, yes&#013;6, 4, 2, yes&#013;2, 3, 1, yes&#013;4, 5, 1, yes&#013;3, 4, 1, yes
4, 2, 3 ,no&#013;4, 3, 2, no&#013;5, 3, 3, no</textarea>
       </div>
    </div>
  </div>
  <div id="api-endpoints" class='container'>
    <div class="api-header"><h1>API Endpoints</h1></div>
   
  </div>
  <div id='modal-holder'></div>
  
  </body>
  <style>
    .command-line {
      background-color: #444;
      color: #fff;
      border-radius: 3px;
      border: none;
      position: relative;
    }
    .command-line span.comment {
      color: #ccc;
    }
  </style>
  <script src="{{ url_for('static', filename='MLdata.js') }}"></script>
  <script type='text/javascript'>
    const MODAL_DIV =
    '<div id="myModal" class="modal question-titles"><div class="modal-content main-card">' +
    '<span class="close">X</span>' +
    "contentPlaceHolder" +
    "</div></div>";
    const MODAL_CONTENT = `<h3>Graphing SVM Prediction Space</h3>
    <p>The scatter plot plotted below is a plot of x, y coordinates and their associated value (either red or blue). If a brand new point is plotted in the middle 
      incorrectly appears grey, could you take a guess at which color it should be? You could probably make a good attempt. For example, if the grey point
      is in the middle of a patch of blue points, then you could predict that the new grey point should be blue. </p><p>But how to get a machine to do this? This is the challenge handled by these Support Vector Machine
      (SVM) algorithims. The program takes in a plot of data (2D or 3D) and the output is predicted surrounding space.</p>
      <p>Sample data is already loaded onto the graph by default, so a SVM method can be chosen from the start. However, any 2D or 3D data can be entered into the manual data
         text area, which is below the graph. Once manual data is entered, click the Run button next to "Data to use:" to plot. Next Run an SVM method to see the
         predicted space based on this data. <div><button class='run-button done-button'id='done-selection'>Got it!</button></div>`
    
    function createModal(someIdOnPage, content) {
      const modalContent = MODAL_DIV.replace("contentPlaceHolder", content);
      const target = document.getElementById(someIdOnPage);
      if (!target) {
        console.error("no modal target found")
        return;
      }
      target.insertAdjacentHTML('beforeend', modalContent);

      const modal = document.getElementById("myModal");
      // const openButton = document.getElementById(triggerId);
      const span = document.getElementsByClassName("close")[0];
      const done = document.getElementById("done-selection");

      modal.style.display = "block";

      span.onclick = function() {
        modal.style.display = "none";
        target.innerHTML = "";
      };
      if (done != undefined) {
        done.onclick = () => {
          span.click();
        };
      }
      window.onclick = function(event) {
        if (event.target == modal) {
          span.click();
        }
      };
    };

  
    document.getElementById("info-button").addEventListener("click", () => {
      createModal("modal-holder", MODAL_CONTENT);
    })
  </script>
  <script type="text/javascript">
    const API_JSON = [
      {
        type : "POST",
        endpoint: "/api/train_model",
        id: 'api-train_model',
        body: {
          lines: ["{", 
          '\t"training_data" : (2D Array) Array of data used to train the model. There is no limit on dimension size of data, but each data point should be same size,',
          '\t"labels": (1D Array) Array of labels cooresponding to training_data. Labels will be paired by index to training_data and both arrays should be same length,',
          '\t"testing_data": (2D Array) Array of data to be tested and sent in output. Dimension of each element in array should match the dimension size used to train model,',
          '\t"method": (String) Choose one of ("Linear", "Polynomial", "RBF", "Log Regression", "KNN", "Tree", "Forest")',
          '}']
        },
        response: {
          lines: ['{',
          '\t"Id" : (String) Id to be used to retrieve final output from retrieve_model endpoint,',
          '\t"Status": (String) "Success" or "Failed",',
          '\t"Error" : (String - Optional) Error message if one occurred,',
          '}']
        },
        example: {
          command: '"POST" https://j-zohdi.herokuapp.com/api/train_model',
          lines: [
            ['{',
          '\t"training_data" : [[0, 1, 0], [1, 1, 1], [0, 2, 3], [0 , 3, 3], [ 1, 2, 3], [0, 2, 3], [ 1, 3, 3], [2, 3, 4], [1, 3, 5], [2, 6, 3]],',
          '\t"labels": ["no", "no", "yes", "no", "yes", "yes", "yes", "yes", "no", "no"],',
          '\t"testing_data": [[3, 0, 1]],',
          '\t"method": "RBF"',
          '}'],
          ['{',
          '\t"Id" : "81f8cc796fda2a0dc2475f5203621a918a963e8e",',
          '\t"Status": "Success",',
          '}']
          ]
        }
      },
      {
        type: "GET",
        endpoint: "/retrieve_model/{Id}",
        id: '-retrieve_model-_Id_',
        response: {
          lines: ['{',
          '\t"confidence": (1D Array) Array of confidence that the method produced for each testing_data element. Paired by index,',
          '\t"method": (String) Method specified from initial Post to train_model,',
          '\t"params": (Object) Parameters found to produced best model of data for specified method,',
          '\t"result": (1D Array) Array of labels produced for training_data. Paired by index,',
          '\t"score": (Float) Accuracy scored by cross fold validation with initial Post of training_data ,',
          '\t"status": (String) "Finished" or "Processing" - if id does not exist, this method will return "Processing",',
          '\t"test_data": (2D Array) testing_data using in initial Post to train_model',
          '}'
          ]
        },
        example: {
          command:  '"GET" https://j-zohdi.herokuapp.com/retrieve_model/81f8cc796fda2a0dc2475f5203621a918a963e8e',
          lines: [
            ['{',
            '\t"confidence": [0.5508220310237408],',
            '\t"method": "RBF",',
            '\t"params": { "C": 0.1, "gamma": 0.1 },',
            '\t"result": ["no"],',
            '\t"score": 0.8,',
            '\t"status": "Finished",',
            '\t"test_data": [[3, 0, 1]]',
            '}']
          ]
        }
      }
    ]
    const chevronUp = `<svg class="bi bi-chevron-" width="1em" height="1em" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M9.646 6.646a.5.5 0 01.708 0l6 6a.5.5 0 01-.708.708L10 7.707l-5.646 5.647a.5.5 0 01-.708-.708l6-6z" clip-rule="evenodd"></path>
                      </svg>`;
  
    const chevronDown = `<svg class="bi bi-chevron-down" width="1em" height="1em" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                          <path fill-rule="evenodd" d="M3.646 6.646a.5.5 0 01.708 0L10 12.293l5.646-5.647a.5.5 0 01.708.708l-6 6a.5.5 0 01-.708 0l-6-6a.5.5 0 010-.708z" clip-rule="evenodd"></path>
                        </svg>`;
    const startApiSection = (data) => {
      return `<div class="endpoint-section">
                <div id='${data.id}' class="endpoint-header"><h2> <code>${data.type}</code> ${data.endpoint} <span id="${data.id}-arrow" class='chevron-arrow'>${chevronUp}</span></h2></div>
                <div id='${data.id}-code' class='hidden'>`
    }

    const endApiSection = () => {
      return '</div></div>'
    }

    const commandLineHtml = (arrayOfLines, command) => {
      let html = '<pre class="command-line">';
      if (command !== '') {
        html += `<span class="command">${command}</span>\n`
      }
      arrayOfLines.forEach((line) => {
        html += `<span class="output">${line}</span>\n`
      })
      html += '</pre>'
      return html;
    }
    
    const createBodySection = (data) => {
      let html = '<h4 class="endpoint-body">Body</h4>'
      html += commandLineHtml(data.lines, '');
      return html;
    }

    const createResponseSection = (data) => {
      let html = '<h4 class="endpoint-response">Response</h4>'
      html += commandLineHtml(data.lines, '');
      return html;
    }

    const createExampleSection = (data) => {

      let html = '<h4 class="endpoint-example">Example</h4>'
      data.lines.forEach((arrayOfLines, index) => {
        if (index === 0) {
          html += commandLineHtml(arrayOfLines, data.command)
        } else {
          html += commandLineHtml(arrayOfLines, '');
        }
      })
      return html;
    }
    function attachHideCodeEvent(id) {
      // console.log(`#${id}-arrow`);
      const target = document.getElementById(id);
      target.addEventListener("click", () => {
        const codeTarget = document.getElementById(`${id}-code`);
        if (codeTarget.classList.contains("hidden")) {
          codeTarget.classList.remove("hidden");
        } else {
          codeTarget.classList.add("hidden")
        }
        const chevron = document.getElementById(`${id}-arrow`)
        if (chevron.innerHTML == chevronDown) {
          chevron.innerHTML = chevronUp;
        } else {
          chevron.innerHTML = chevronDown;
        }
        
      });
    }
    function initApiSection(){
      
        const apiSection = document.getElementById("api-endpoints");
        
        API_JSON.forEach(endpointData => {
            let section = startApiSection(endpointData);
            
            if (endpointData.hasOwnProperty("body")) {
              section += createBodySection(endpointData.body)
            }
            if (endpointData.hasOwnProperty("response")) {
              section += createResponseSection(endpointData.response)
            }
            if (endpointData.hasOwnProperty("example")) {
              section += createExampleSection(endpointData.example)
            }

            section += endApiSection();
            
            apiSection.insertAdjacentHTML("beforeend",section);
            attachHideCodeEvent(endpointData.id);
        })
    }
    initApiSection();

    document.getElementById("api-button").addEventListener("click", () => {
      document.getElementById("api-endpoints").scrollIntoView();
    })
  </script>
{% endblock %}
</html>