<!DOCTYPE html>
<html id='svm-html'lang="en">
    {% block head %}
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='styles.css') }}"
    />
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
 <!-- Latest compiled and minified plotly.js JavaScript -->
 <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

 <!-- OR use a specific plotly.js release (e.g. version 1.5.0) -->
 <script src="https://cdn.plot.ly/plotly-1.5.0.min.js"></script>

<script type=text/javascript>
    $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
  </script>
  {{
    JSGlue.include()
  }}
<title>{% block title %} SVM Visualizer {% endblock %}</title>
<script>
  Flask.url_for("svm_visualizer");
</script>
  </head>
  {% endblock %}
  {% block main %}
  <body>
    <div class='container-fluid'>
      <div class="row header-text">
        <div class="col-xs-12">
          <h2>2D/3D Support Vector Machine Visualizer: </h2>
          <p>All methods use scikit-learn GridSearchCV() with a range of parameters to find best results.</p>
          <input value="Github"type="button" class='run-button gitbutton' onclick="window.location.href='https://github.com/jzohdi/svmVisualizer/blob/master/svm.py';">
        </div>
      </div>
      <div class="row header-text2">
        <div><button id='info-button' class="run-button info-button col-xs-offset-2">What does this program do?</button></div>
        <div class="col-sm-8 col-sm-offset-2">
          <h4>Choose data and SVM method to run. By Default Sample Data is loaded.</h4>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div style='text-align:center;'class="col-lg-12">
          <div class='row'>
            <div class='col-xs-6'>
              <div class='choose-method'>
              <h4>Choose Method :</h4>
              <select id="select-method" style="margin-bottom: 10px;">
                <option value="Linear">Linear Kernel</option>
                <option value="Polynomial">Polynomial Kernel</option>
                <option value="RBF">RBF Kernel</option>
                <option value="Log Regression">Logistic Regression</option>
                <option value="KNN">K Nearest Neighbors</option>
                <option value="Tree">Decision Tree</option>
                <option value="Forest">Random Forest</option>
              </select>
              <button class="run-button"onClick='runMethod("myChart")'>Run</button>
              <p id="myChart-message"></p>
            </div>
          </div>
          <div class='col-xs-6'>
            <div class='choose-method'>
              <h4>Data to use:</h4>  
              <select id='select-data' style="margin-bottom: 10px;">
                <option>Sample Data</option>
                <option>Manual Data</option>
              </select>
              <button class="run-button" onClick='runData()'>Run</button>
              <p id='manual-data-error'></p>
            </div>
          </div>
          </div>
          <!-- <canvas id="myChart" width="200" height="200"></canvas> -->
          <div id='myChart'></div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class='col-xs-12'>
          <h3>Manul Data: </h3>
            <p>( comma separated or paste from excel )</p>
          <table id='manual-table'>
            <tr>
              <th> X, Y, Z (optional), Label (Classification) </th>
            </tr>
          </table>
          <textarea id='manual-data' class='manual-table-textarea'>1, 3, 1
2, 2, 1
2, 1, 1
3, 4, 1
5, 6, 0
4, 5, 0
7, 5, 0
6, 4, 0</textarea>
      </div> 
    </div>
    <div class="row">
      <div class='col-xs-12'>
        <h3>Example Input: </h3>
        <textarea style='width:100%;height:300px;text-align: left;'>1, 3, 2, no&#013;2, 2, 3, no&#013;2, 1, 1, no&#013;3, 4, 3, no
5, 6, 3, yes&#013;4, 5, 4, yes&#013;7, 5, 3, yes&#013;6, 4, 2, yes&#013;2, 3, 1, yes&#013;4, 5, 1, yes&#013;3, 4, 1, yes
4, 2, 3 ,no&#013;4, 3, 2, no&#013;5, 3, 3, no</textarea>
       </div>
    </div>
  </div>
  </div>
  <div id='modal-holder'></div>
  
  </body>
  <script src="{{ url_for('static', filename='MLdata.js') }}"></script>
  <script type='text/javascript'>
    const MODAL_DIV =
    '<div id="myModal" class="modal question-titles"><div class="modal-content main-card">' +
    '<span class="close">X</span>' +
    "contentPlaceHolder" +
    "</div></div>";
    const MODAL_CONTENT = `<h3>Graphing SVM Prediction Space</h3>
    <p>The scatter plot plotted below is a plot of x, y coordinates and their associated value (either red or blue). If a brand new point is plotted in the middle 
      incorrectly appears grey, could you take a guess at which color it should be? You could probably make a good attempt. For example, if the grey point
      is in the middle of a patch of blue points, then you could predict that the new grey point should be blue. </p><p>But how to get a machine to do this? This is the challenge handled by these Support Vector Machine
      (SVM) algorithims. The program takes in a plot of data (2D or 3D) and the output is predicted surrounding space.</p>
      <p>Sample data is already loaded onto the graph by default, so a SVM method can be chosen from the start. However, any 2D or 3D data can be entered into the manual data
         text area, which is below the graph. Once manual data is entered, click the Run button next to "Data to use:" to plot. Next Run an SVM method to see the
         predicted space based on this data. <div><button class='run-button done-button'id='done-selection'>Got it!</button></div>`
    
    const createModal = (someIdOnPage, content) => {
      const modalContent = MODAL_DIV.replace("contentPlaceHolder", content);
      $(someIdOnPage).html(modalContent);

      const modal = document.getElementById("myModal");
      // const openButton = document.getElementById(triggerId);
      const span = document.getElementsByClassName("close")[0];
      const done = document.getElementById("done-selection");

      modal.style.display = "block";

      span.onclick = function() {
        modal.style.display = "none";
        $(someIdOnPage).empty();
      };
      if (done != undefined) {
        done.onclick = () => {
          span.click();
        };
      }
      window.onclick = function(event) {
        if (event.target == modal) {
          span.click();
        }
      };
    };

  
    $("#info-button").on("click", () => {
      createModal("#modal-holder", MODAL_CONTENT);
    })
  </script>
 
{% endblock %}
</html>